
@{
    ViewBag.Title = "Residence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h1>@ViewBag.name</h1>
    <img src="@ViewBag.ImagePreview">
    
    
    <div class="property-heading">
        <h2><span>PROPERTY DESCRIPTION</span></h2>
    </div>
    @ViewBag.description

    <br /><br />
    <div class="property-heading">
        <h2><span>PROPERTY OVERVIEW</span></h2>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><strong>ID</strong></td>
                <td>#@ViewBag.id</td>
            </tr>
            <tr>
                <td><strong>Price</strong></td>
                <td>R @ViewBag.price</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>@ViewBag.type</td>
            </tr>
            <tr>
                <td><strong>Contract</strong></td>
                <td>@ViewBag.contract</td>
            </tr>
            <tr>
                <td><strong>Location</strong></td>
                <td>@ViewBag.street_address</td>
            </tr>
            <tr>
                <td><strong>Bathrooms</strong></td>
                <td>@ViewBag.no_bathrooms</td>
            </tr>
            <tr>
                <td><strong>Bedrooms</strong></td>
                <td>@ViewBag.no_bedrooms</td>
            </tr>
            <tr>
                <td><strong>Area</strong></td>
                <td>@ViewBag.area m<sup>2</sup> </td>
            </tr>
        </tbody>
    </table>


    <div class="property-heading">
        <h2><span>LOCATION</span></h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item">@ViewBag.street_address</li>
        <li class="list-group-item">@ViewBag.province, @ViewBag.city</li>
    </ul>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
            <li role="presentation"><a href="#streetview" aria-controls="streetview" role="tab" data-toggle="tab">StreetView</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="map">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="1140" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&q=@ViewBag.street_address&key=AIzaSyDlnvQdhrcHR6dv2UyyVmzWT_pzaPcmwTo" allowfullscreen></iframe>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="streetview">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="1140" height="450" frameborder="0" style="border:0" src="@ViewBag.StreetView" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>




  
    </br>

    </br>
 

    <div>

        <div class="property-heading">
            <h2><span>CONTACT AGENT</span></h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="team-container team-dark">
                    <div class="team-image">
                        <img src="https://upload.wikimedia.org/wikipedia/en/2/24/Lenna.png">
                    </div>
                    <div class="team-description">
                        <h3>Lena Soderberg</h3>
                        <p>
                            <i class="fa fa-phone"></i> Office : 012 234 5678<br>
                            <i class="fa fa-mobile"></i> Mobile : 084 3456 78910<br>
                        </p>
                        <p>
                            Ahahahahah
                        </p>
                        <div class="team-social">
                            <span><a href="#" title="" rel="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></span>
                            <span><a href="#" title="" rel="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></span>
                            <span><a href="#" title="" rel="tooltip" data-placement="top" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></span>
                            <span><a href="#" title="" rel="tooltip" data-placement="top" data-original-title="Email"><i class="fa fa-envelope"></i></a></span>
                            <span><a href="#" title="" rel="tooltip" data-placement="top" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control input-lg" placeholder="Enter name : ">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control input-lg" placeholder="Enter email : ">
                    </div>
                    <div class="form-group">
                        <label for="telp">Telp.</label>
                        <input type="text" class="form-control input-lg" placeholder="Enter phone number : ">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control input-lg" rows="7" placeholder="Type a message : "></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Send Message" class="btn btn-warning btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>