
@{
    ViewBag.Title = "Residence";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

    
    
<div style="min-height: 50px;">
    <!-- Jssor Slider Begin -->
    <!-- To move inline styles to css file/block, please specify a class name for each element. -->
    <!-- ================================================== -->
    <div id="slider1_container" style="display: none; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
            @foreach (var image in ViewBag.Images)
            {
                <div>
                    <img u="image" src2=@image />
                </div>
            }
        </div>




        <!--#region Bullet Navigator Skin Begin -->
        <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
        <style>
            /* jssor slider bullet navigator skin 21 css */
            /*
                .jssorb21 div           (normal)
                .jssorb21 div:hover     (normal mouseover)
                .jssorb21 .av           (active)
                .jssorb21 .av:hover     (active mouseover)
                .jssorb21 .dn           (mousedown)
                */
            .jssorb21 {
                position: absolute;
            }

                .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                    position: absolute;
                    /* size of bullet elment */
                    width: 19px;
                    height: 19px;
                    text-align: center;
                    line-height: 19px;
                    color: white;
                    font-size: 12px;
                    background: url(/Assets/Images/b21.png) no-repeat;
                    overflow: hidden;
                    cursor: pointer;
                }

                .jssorb21 div {
                    background-position: -5px -5px;
                }

                    .jssorb21 div:hover, .jssorb21 .av:hover {
                        background-position: -35px -5px;
                    }

                .jssorb21 .av {
                    background-position: -65px -5px;
                }

                .jssorb21 .dn, .jssorb21 .dn:hover {
                    background-position: -95px -5px;
                }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype"></div>
        </div>

        <style>
            /* jssor slider arrow navigator skin 21 css */
            /*
                .jssora21l                  (normal)
                .jssora21r                  (normal)
                .jssora21l:hover            (normal mouseover)
                .jssora21r:hover            (normal mouseover)
                .jssora21l.jssora21ldn      (mousedown)
                .jssora21r.jssora21rdn      (mousedown)
                */
            .jssora21l, .jssora21r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 55px;
                height: 55px;
                cursor: pointer;
                background: url(/Assets/Images/a21.png) center center no-repeat;
                overflow: hidden;
            }

            .jssora21l {
                background-position: -3px -33px;
            }

            .jssora21r {
                background-position: -63px -33px;
            }

            .jssora21l:hover {
                background-position: -123px -33px;
            }

            .jssora21r:hover {
                background-position: -183px -33px;
            }

            .jssora21l.jssora21ldn {
                background-position: -243px -33px;
            }

            .jssora21r.jssora21rdn {
                background-position: -303px -33px;
            }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
        </span>

    </div>
    <!-- Jssor Slider End -->
</div>













































<div class="container">
        <div class="fullwidth background-primary background-map">

            <h1>@ViewBag.name</h1>
    
    <div class="property-heading">
        <h2><span>PROPERTY DESCRIPTION</span></h2>
    </div>
    <p>
    @ViewBag.property_description
    </p>
    </br>
    <p>
    @ViewBag.listing_description
    </p>

    <br /><br />
    <div class="property-heading">
        <h2><span>PROPERTY OVERVIEW</span></h2>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><strong>Price</strong></td>
                <td>@ViewBag.price</td>
            </tr>
            <tr>
                <td><strong>Location</strong></td>
                <td>@ViewBag.street_address</td>
            </tr>
            <tr>
                <td><strong>Bathrooms</strong></td>
                <td>@ViewBag.no_bathrooms</td>
            </tr>
            <tr>
                <td><strong>Bedrooms</strong></td>
                <td>@ViewBag.no_bedrooms</td>
            </tr>
            <tr>
                <td><strong>Garages</strong></td>
                <td>@ViewBag.no_garages</td>
            </tr>
            <tr>
                <td><strong>Has swimming pool</strong></td>
                <td>@ViewBag.swimmingpool</td>
            </tr>
            <tr>
                <td><strong>Area</strong></td>
                <td>@ViewBag.area m<sup>2</sup> </td>
            </tr>
        </tbody>
    </table>


    <div class="property-heading">
        <h2><span>LOCATION</span></h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item">@ViewBag.street_address</li>
        <li class="list-group-item">@ViewBag.province, @ViewBag.city</li>
    </ul>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
            <li role="presentation"><a href="#streetview" aria-controls="streetview" role="tab" data-toggle="tab">StreetView</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="map">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="1140" height="500" frameborder="0" style="border:0" src="@ViewBag.Map" allowfullscreen></iframe>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="streetview" style="height: 700px;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="1140" height="500" frameborder="0" style="border:0" src="@ViewBag.StreetView" allowfullscreen></iframe>
                </div>


             <!--   <div id="street-view" style="height: 700px;"></div>
                <script>
                    var panorama;
                    function initialize() {
                      panorama = new google.maps.StreetViewPanorama(
                          document.getElementById('street-view'),
                          {
                            position: {lat: @ViewBag.Lattitude, lng: @ViewBag.Longitude},
                            pov: {heading: 165, pitch: 0},
                            zoom: 1
                          });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnvQdhrcHR6dv2UyyVmzWT_pzaPcmwTo&signed_in=true&callback=initialize">
                </script>
                 -->
            </div>

        </div>

    </div>
</div>




  
    </br>

    </br>
 

    <div>

        <div class="property-heading">
            <h2><span>CONTACT AGENT</span></h2>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="team-container team-dark">
                    <div class="team-image">
                        <img src=@ViewBag.agent.Image_URL>
                    </div>
                    <div id="agent_descript">
                        <h3>@ViewBag.agent.Agent_FullName</h3>
                        <p>
                            <i class="fa fa-phone"></i> Phone number : @ViewBag.agent.Agent_PhoneString<br>
                        </p>
                        <p>
                            @ViewBag.agent.Agent_Description
                        </p>
                      </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <form action="../Data/SendEmail" method="post">
                <input type="hidden" name="agent_id" value="@ViewBag.agent.Agent_Id"/>
                    <input type="hidden" name="listing_id" value=@ViewBag.ListID />
                    @if(ViewBag.User == null)
                    { 
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="client_name" type="text" class="form-control input-lg" placeholder="Enter name : ">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="client_email" type="email" class="form-control input-lg" placeholder="Enter email : ">
                    </div>
                    <div class="form-group">
                        <label for="telp">Phone number</label>
                        <input name="client_phone" type="text" class="form-control input-lg" placeholder="Enter phone number : ">
                    </div>
                    }
                    else
                    {
                        <div class="property-heading">
                        <h2><span>SEND EMAIL FROM CURRENT ACCOUNT</span></h2>
                        </div>

                        <h4><span><a href="mailto:@ViewBag.User.Email" target="_top">@ViewBag.User.FullName</a>
                            </span></h4>
                        <span><a>@ViewBag.User.PhoneNumber</a></span><br/>
                        <input type="hidden" name="client_name" value="@ViewBag.User.FullName" />
                        <input type="hidden" name="client_email" value="@ViewBag.User.Email" />
                        <input type="hidden" name="client_phone" value="@ViewBag.User.PhoneNumber" />
                    }
                    </br>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="body" class="form-control input-lg" rows="7" placeholder="Type a message : "></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Send Message" class="btn btn-warning btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script>
        jQuery(document).ready(function ($) {

            var options = {
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            //Make the element 'slider1_container' visible before initialize jssor slider.
            $("#slider1_container").css("display", "block");
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth)
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
