@{
    ///
    ///
    ///
    
    ViewBag.Title = "Houses";
}

<div class="container">
    <br />
    <div class="property-heading">
        <h2><span>SEARCH FOR A PROPERTY</span></h2>
    </div>
    <div id="search">
        
    </div>

    <section class="properties">
        <div class="container">
            <h3>Searched properties</h3>
            <div class="divider"></div>
            <div class="row">
                @Html.Raw(ViewBag.EstatesListHtml);
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

</div>

<div id="test"></div>


<script type="text/jsx">

    

    var ProvinceBox = React.createClass(
    {
    change: function(event){
        this.props.onSelection(event.target.value);
    },
    render: function(){
    return(
    <select className="form-control" classID="provinceSelect" ref="provSel" onChange={this.change}>
        <option>Any</option>
        @foreach (var province in ViewBag.Provinces)
        {
            <option value="@province.ProvinceId">@province.ProvinceName</option>
        }
    </select>
    );
    }
     });

    var CityBox = React.createClass(
    {
       render : function()
       {
        var cities = this.props.data.map(function (city)
          {
            return(
              <option value={city.CityId}>
                {city.CityName}
              </option>
              );
          });
        return(
        <select name="City" className="form-control" id="citiesSelect">
                        {cities}
                    </select>
                    );
       } 
    });

    var SearchForm = React.createClass(
    {
        getCities : function(provinceid)
        {
          this.setState({cities: [{"CityId":-1,"CityName":"Loading..."}] });
          $.ajax(
          {
            url: '../Data/Cities',
            dataType: 'json',
            cache: false,
            type: 'POST',
            data: {province_id: provinceid},
            success: function(data)
            {
                var dataWithAny = [{"CityId":-1,"CityName":"Any"}].concat(data);
              this.setState({cities: dataWithAny});
            }.bind(this)

          });
        },
        getInitialState : function()
        {
            return {cities: [{"CityId":-1,"CityName":"Any"}]};
        },

        handleProvinceSelection : function(provinceid)
        {
           this.getCities(provinceid);
        },
        render: function()
        {
        return(
                <form className="form-inline" method="post" action="Search">
                 <div className="col-sm-7 searchbox">
                <div className="input-group input-block-level">
                    <input type="text" name="SearchStr" className="form-control" placeholder="Type in some criteria" value="@ViewBag.SearchStr" />
                    <span className="input-group-btn">
                        <button className="btn btn-warning big-btn" type="submit" value="Save">Search</button>

                    </span>
                </div>
            </div>
            <br />
            <br /><br />
            <div className="row">
                <div className="col-md-3">
                    <div className="form-group">
                        <label>Type</label>
                        <select name="EstateType" className="form-control">
                            <option>Any</option>
                            @foreach (var s in ViewBag.Estates)
                            {
                                <option>@s</option>
                            }
                        </select>

                    </div>
                </div>

                <div className="col-md-3">
                    <label>Price range</label>
                    <select name="priceRange" className="form-control">
                        <option>Any</option>
                        <option>1mil-2mil</option>
                        <option>2mil-4mil</option>
                        <option>4mil and up</option>
                    </select>
                </div>

                <div className="col-md-3">
                    <label>Bed rooms</label>
                    <select name="NoBedrooms" className="form-control">
                        <option>Any</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5+</option>
                    </select>

                    <label>Bath rooms</label>
                    <select name="NoBathrooms" className="form-control">
                        <option>Any</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3+</option>
                    </select>
                </div>

                <div className="col-md-3">
                    <label>Province</label>
                    <ProvinceBox ref='commentbox' onSelection={this.handleProvinceSelection}/>
       

                    <label>City</label>
                    <CityBox ref='citybox' data={this.state.cities} />

                </div>


                </div>
                </form>
            );
        }
    });
    
    React.render(<SearchForm />, document.getElementById('search'));
</script>